body{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; 
}
.app-container {
    position: relative;
    width: 900px;
    height: 600px;
    border-radius: 19px;
    border: 1px solid #000;
    background: #FCF3E8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   
}

.cafe-logo {
    position:absolute;
    left: 45px;
    top: 152px;
    width: 222px;
    height: 317px;
    flex-shrink: 0; 
    background-image: url("img/cafe_logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.menu-logo {
    position:absolute;
    left: 25px;
    top: 35px;
    width: 262px;
    height: 161px;
    flex-shrink: 0; 
    background-image: url("img/menu_logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.coffee-beans {
    position:absolute;
    left: 50px;
    top: 450px;
    width: 210px;
    height: 116px;
    flex-shrink: 0; 
    background-image: url("img/coffee_beans.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.menu-scallop-bgd {
    position:relative;
    left: 260px;
    top: 25px;
    width: 620px;
    height: 556px;
    flex-shrink: 0;
    background-image: url("img/menu_color.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.cafe-lait {
    position:absolute;
    left: 60px;
    top: 85px;
    width: 285px;
    height: 200px;
    flex-shrink: 0;
    background-image: url("img/cafe_au_lait.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mocha {
    position:absolute;
    left: 290px;
    top: 85px;
    width: 285px;
    height: 200px;
    flex-shrink: 0;
    background-image: url("img/ice_mocha.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.rose-latte {
    position:absolute;
    left: 60px;
    top: 280px;
    width: 285px;
    height: 200px;
    flex-shrink: 0;
    background-image: url("img/rose_latte.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.affogato {
    position:absolute;
    left: 290px;
    top: 280px;
    width: 285px;
    height: 200px;
    flex-shrink: 0;
    background-image: url("img/affogatto.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}