body{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; 
}
.app-container {
  
    width: 900px;
    height: 600px;
    border-radius: 19px;
    border: 1px solid #000;
    background: #FCF3E8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   

}

.cafe-logo {
    width: 222px;
    height: 317px;
    flex-shrink: 0;
    aspect-ratio: 222/317;  
    background-image: url(</img/cafe_logo.png>);
    background-repeat: no-repeat;


}

.menu1 {
    background-color: white;
    width: 180px;
    height: 180px;
    x: 600px;
    y: 200px;
}
